<tr>
  <td><%= employee.full_name %></td>
  <td class="text-center"><%= employee.id %></td>
  <td class="text-center"><%= l(employee.date_of_birth) %></td>
  <td><%= t("employee.sexes.#{employee.sex}") %></td>
  <td><%= employee.workspace.title %></td>
  <td><%= employee.job_role.title %></td>
  <td>
    <%= link_to employee, class: 'text-warning' do %>
      <%= icon('fa-regular fa-eye', 'xl')%>
    <% end %>
  </td>
  <td><%= link_to edit_employee_path(employee) do %>
      <%= icon('fa-regular fa-pen-to-square', 'xl')%>
    <% end %>
  </td>
  <td><%= link_to employee, method: :delete, data: {
      confirm: "#{t('links.confirm_delete')} #{employee.full_name}?"
    }, class: 'text-danger' do %>
      <%= icon('fa-regular fa-trash-can', 'xl')%>
    <% end %>
  </td>
</tr>

