<% if notice.present? %>
  <p id="notice" class="alert alert-success">
    <%= notice %>
  </p>
<% end %>

<h1><%= @employees.model_name.human(count: @employees.count) %></h1>

<table class = "table table-hover">
  <%= render 'employee_head' %>
  <%= render @employees %>
</table>

<br>

<%= link_to t('new.employee'), new_employee_path, class: "btn btn-primary" %>

