<% if notice.present? %>
  <p id="notice" class="alert alert-success">
  <%= notice %>
  </p>
<% end %>

<%= render 'shared/employee/search_box' %>

<div class="pt-3">
  <div class="border border-2 border-dark">
    <table class = "table table-striped table-bordered table-hover">
      <%= render 'employee_head' %>
      <tbody class="table-group-divider">
        <%= render @employees %>
      </tbody>
    </table>
  </div>
</div>

<%== pagy_nav(@pagy) if @pagy.pages > 1 %>

<br>

