<ul class="nav navbar-expand-md navbar-dark bg-dark d-flex justify-content-end">
  <div class="container-fluid">
    <div class="d-flex align-items-center pt-2">
      <%= link_to I18n.t('welcome.title'), root_path, class: "hero-text" %>
    </div>
  </div>

    <li class="nav-item align-self-center">
      <%= locale_link('pt-BR') do %>
        <%= image_tag "https://cdn.icon-icons.com/icons2/1694/PNG/512/brbrazilflag_111698.png", size: "25x15"  %>
      <% end %>
    </li>
    <li class="nav-item align-self-center">
      <%= locale_link('en') do %>
        <%= image_tag "https://static.vecteezy.com/system/resources/previews/005/416/914/original/flag-of-united-kingdom-illustration-free-vector.jpg", size: "25x15"  %>
      <% end %>
    </li>
</ul>

<style>
  .hero-text {
    font-size: 1.6em;
    text-decoration: none;
    color: white;
    margin: 0.2em 0;
  }
</style>

